.main .img {
    width: 100%;
    position: relative;
}

.form {
    margin: 30px 0;
}

.git {
    position: absolute;
    top: 40%;
    right: 10%;
    color: #ffff;
    /* transform: translateY(-50%); */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
}

.first-text {
    font-size: 5rem;
    position: absolute;
    left: 5%;
    animation-name: fadeInOut;
    animation-delay: 0s;
    animation-duration: 10s;
}

#toss {
    position: relative;
    margin: 10px auto;
    width: 450px;
    height: 281px;
    z-index: 1;
    perspective: 1000;
}

#rev {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.flip-holder {
    margin: 30px 0;
}

#toss:hover #rev {
    transform: rotateY(180deg);
}

.alert {
    color: red;
}

.face img {
    height: 300px;
    width: 100%;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
}