<section class="main">
    <img class="img" src="/assets/images/3.jpg" alt="">
    <div class="container">
        <div class="git first-text" [@momenttext]="state">
            <h1>GET UP. TOGETHER.
            </h1>
            <p>COMPETING WITH MYSELF REALLY INSPIRES ME.</p>
        </div>
        <div class="row">
            <div class="col-md-6 form">

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" [(ngModel)]="data.username" name="username">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" [(ngModel)]="data.email" name="email">
                </div>
                <button type="button" (click)="formSubmit()">Login</button>

            </div>

        </div>
        <div class="flip-holder">
            <div id="toss">
                <div id="rev">
                    <div class="face">
                        <img src="/assets/images/one.jpg" />
                    </div>
                    <div class="face back">
                        <img src="/assets/images/two.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>